<ul class="list-group mt-3">
    <h3>Siga-nos nas redes sociais</h3>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <a href="#">Facebook</a>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <a href="#">Twitter</a>
    </li>
</ul>

<ul class="list-group mt-3">
    <h3>Categorias</h3>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <a href="#">Javascript</a>
        <span class="badge badge-primary badge-pill">14</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <a href="#">Css3</a>
        <span class="badge badge-primary badge-pill">12</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <a href="#">Html5</a>
        <span class="badge badge-primary badge-pill">7</span>
    </li>
</ul>

<ul class="list-group mt-3">
    <h3>Ultimos Artigos</h3>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <a href="#">Sites responsivos com bootstrap</a>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <a href="#">Upload de arquivos com Nodejs</a>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <a href="#">Como criar formularios agrádaveis</a>
    </li>
    <br>
</ul>