<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Site Network</title>
    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="css/home.css">
</head>

<body class="bg-light">

    {{>navbar}}
    <div class="container mt-4">
        {{>msg}}
        <div class="row mb-5">
            <div class="col-lg-8 ">
                {{{body}}}
            </div>
            <div class="col-lg-4  bg-info mt-5">
                {{>side_bar}}
            </div>
        </div>
    </div>
    <script src="jquery/dist/jquery.js"></script>
    <script src="popper.js/dist/popper.js"></script>
    <script src="bootstrap/dist/js/bootstrap.js"></script>


</body>

</html>