<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Site Network</title>
    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="css/home.css">
</head>

<body class="bg-light">
   

    {{>navbar}}
    <div class="container fluid">
    {{#if error}}
        <div class="alert alert-danger">{{error}}</div>
    {{else}}
    
    {{/if}}
        {{>msg}}
        <div class="row mb-5">
            <div class="col-12 col-md-8 ">
                {{{body}}}
            </div>
            <div class="col-12 col-md-4  bg-info mt-5">
                {{>side_bar}}
            </div>
        </div>
    </div>
    <script src="jquery/dist/jquery.js"></script>
    <script src="popper.js/dist/popper.js"></script>
    <script src="bootstrap/dist/js/bootstrap.js"></script>

</body>

</html>