<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Site Network</title>
    <link href="https://fonts.googleapis.com/css?family=Cardo|Oswald&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="compiler/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body class="bg-pal1">


    {{>navbar}}
    <div class="container fluid">
        {{#if error}}
        <div class="alert alert-danger">{{error}}</div>
        {{else}}

        {{/if}}
        {{>msg}}
        <div class="row mb-5">
            <div class="col-12 col-md-8 bg-white my-3">
                {{{body}}}
            </div>
            <div class="col-12 col-md-4 d-table bg-white my-3">
                {{>side_bar}}
            </div>
        </div>
    </div>
    {{>footer}}
    <script src="jquery/dist/jquery.js"></script>
    <script src="popper.js/dist/umd/popper.js"></script>
    <script src="bootstrap/dist/js/bootstrap.js"></script>

</body>

</html>