<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Site Network</title>
    <link rel="stylesheet" href="bootstrap/compiler/bootstrap.css">
    <link rel="stylesheet" href="css/home.css">
</head>

<body class="bg-light">

    {{>navbar}}
    <div class="container mt-4">
        {{>msg}}
    <div class="row mb-5">
    <div class="col-8">
        {{{body}}}
    </div>
    <div class="col-4 bg-info">
        {{{side_bar}}}
    </div>
    </div>
    </div>
    <script src="node_modules/jquery/dist/jquery.js"></script>
    <script src="node_modules/popper.js/dist/popper.js"></script>
    <script src="node_modules/bootstrap/dist/js/bootstrap.js"></script>


</body>

</html>