<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Site Network</title>
    <link rel="stylesheet" href="node_modules/bootstrap/compiler/bootstrap.css">
</head>

<body>
    {{>navbar}}
    {{{body}}}

    <script src="node_modules/jquery/dist/jquery.js"></script>
    <script src="node_modules/popper.js/dist/popper.js"></script>
    <script src="node_modules/bootstrap/dist/js/bootstrap.js"></script>


</body>

</html>