{{!< adminLayout}}
{{#each erros}}
<div class="alert alert-danger">{{texto}}</div>
{{else}}
{{/each}}

<ul style="list-style: none; display:inline-flex" class="pal1">
    <li><a class="nav-link"href="/admin">Home</a></li>
    <li><a class="nav-link" href="/admin/imagem">Listar Imagens</a></li>
    <li><a class="nav-link" href="/admin/list">Listar Posts</a></li>
</ul>
<div class="d-flex justify-content-center mt-5">
<h2>Cadastrar imagem</h2>
<form action="/upload" method="POST" enctype="multipart/form-data">
    <input type="file" name="file" class="form-control"><br>
    <button type="submit" name="" class="btn btn-success">Upload</button>
</form>

</div>
<div class="d-flex justify-content-center mt-5">
    <div class="card" style="width: 50rem" ;>
        <div class="card-body">
            <h2 class="card-title">Adicionar Post</h2>
            <form action="/admin/add" method="POST">
                <label for="Titulo">Titulo</label>
                <input type="text" name="titulo" class="form-control" maxlength="57">
                <br>
                <label for="Descricao">Descricao:</label>
                <textarea class="form-control" rows="3" name="descricao" style="resize: none;"
                    maxlength="180"></textarea>
                <br>
                <label for="Texto">Texto</label>
                <textarea class="form-control" rows="10" name="texto" id="article"></textarea>
                <br>
                <label for="Texto">Fk_imagem</label>
                <input type="number" name="fk_imagem" class="form-control">
                <br>
                <input type="submit" value="Postar" class="btn btn-success">
                <a class="btn btn-warning" href="/admin">Cancelar
        </div></a>
        </form>
    </div>
</div>
</div>

<script src="/tinymce/tinymce.min.js"></script>
<script>
    tinymce.init({
        language: 'pt_BR',
        selector: '#article',
        plugins: [
            'advlist link image lists print preview hr searchreplace fullscreen insertdatetime media save table paste emoticons'
        ]
    });
</script>