<h2>Upload</h2>
<form action="/upload" method="POST" enctype="multipart/form-data">
    <label for="Arquivo">Arquivo</label>
    <input type="file" name="file" class="form-control"><br>
    <button type="submit" name="" class="btn btn-success">Upload</button>
</form>

{{#each posts}}

{{/each}}