<ul style="list-style: none; display:inline-flex" class="pal1">
    <li><a class="nav-link"href="/admin">Home</a></li>
    <li><a class="nav-link" href="/admin/post">Novo Post</a></li>
    <li><a class="nav-link" href="/admin/list">Listar Posts</a></li>
</ul>
<h2>Listar Images</h2>
<hr>

{{#each imagem}}

<div class="card d-inline-block">

        <img src="{{url}}" alt="imagem" class="img-fluid mb-1" style="width:100px;height:70px;"><br>
        <a href="/imagem/delete/{{id}}"><button class="btn btn-danger btn-sm">Deletar Fk {{id}}</button></a>

</div>



{{/each}}