<div class="d-flex justify-content-center mt-3">
</div>
{{#each posts}}
<hr>
<div class="row bg-light">
    <div class="col-3">
        <img src="/images/{{imagem}}" class="rounded float-left mt-4 img-thumbnail" alt="..."
            style="width:200px;height:140px;">
    </div>

    <div class="col-9 bg-light">
        <div class="d-flex justify-content-center">
            <br>
            <div class="card border-light" style="width: 70rem;">
                <div class="card-body bg-light">
                    <h3 class="card-title">{{titulo}}</h3>

                    {{texto}}
                    <br>
                    <a href="/admin/delete/{{id}}"><button class="btn btn-danger mt-2">Deletar</button></a>
                </div>
            </div>
        </div>
    </div>
</div>

{{/each}}