<div class="d-flex justify-content-center mt-3">
<a class="btn btn-success" href="/post">Criar Novo Post</a>
</div>
{{#each posts}}
<div class="d-flex justify-content-center">
    <br>
    <div class="card mt-3" style="width: 70rem;">
           <img class="card-img-top img-thumbnail img-fluid" src="/public/images/{{imagem}}" alt="Card image cap" style="width:200px;height:140px;">
        <div class="card-body">
            <h3 class="card-title">{{titulo}}</h3>
         
            {{texto}}
            <br>
            <a href="/delete/{{id}}"><button class="btn btn-danger mt-2">Deletar</button></a>
        </div>
    </div>
</div>
{{/each}}